.oxlintrc.json   @sriramveeraghanta
.oxfmtrc.json   @sriramveeraghanta
apps/api/           @dheeru0198 @pablohashescobar
apps/web/           @sriramveeraghanta
apps/space/         @sriramveeraghanta
deployments/        @mguptahub
